:root {
	--primary-color: rgb(11, 38, 66);
	--primary-font-size: 35px;
	--secondary-font-size: 25px;
}

body,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	color: var(--primary-color);
	background-color: aqua;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgb(151, 199, 250);
	background: linear-gradient(
		145deg,
		rgba(151, 199, 250, 1) 0%,
		rgba(228, 188, 255, 1) 100%
	);
}

h1 {
	font-weight: bold;
	font-size: var(--primary-font-size);
}
.col-flex {
	display: flex;
	flex-direction: column;
}
.row-flex {
	display: flex;
	flex-direction: row;
}

.app {
	height: 30rem;
	max-width: 40rem;
	width: 100%;
	background-color: white;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 3px 6px 16px 6px;
}

.heading {
	text-align: center;
	height: fit-content;
	width: 100%;
	text-transform: capitalize;
}
.content {
	width: auto;
	padding: 10px;
}
.content label {
	font-size: 25px;
	align-self: flex-start;
	margin-bottom: 1rem;
}
.step-1 {
	height: 100%;
	align-items: center;
}
.step-2 {
	height: 80%;
}

.buttons {
	margin-top: 4rem;
	gap: 1rem;
}

.instruction {
	/* background-color: yellow; */
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.form {
	vertical-align: middle;
	justify-content: center;
	gap: 0.5rem;
	height: 100%;
	padding: 5px 10px 10px 10px;
}

.form h1 {
	font-size: 25px;
}
.form input {
	background-color: transparent;
	outline: none;
	border: 1px solid rgb(0, 0, 0);
	height: 44px;
	width: 97%;
	font-size: 18px;
	border-radius: 5px;
	padding-left: 10px;
}
.form input:focus {
	border-width: 2px;
}
.label {
	font-size: 25px;
	align-self: flex-start;
}
.step-0 {
	align-items: center;
	justify-content: center;
	display: flex;
}
.submit-button {
	width: 100%;
	height: 44px;
	border-radius: 5px;
	border: none;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	background-color: white;
	font-weight: bold;
	font-size: var(--secondary-font-size);
	cursor: pointer;
}

.steps {
	display: none;
}
.active-step {
	display: block;
}
.submit-button:hover {
	background-color: var(--primary-color);
	font-weight: 140;
	color: white;
	transition-duration: 0.4s;
}
.username {
	display: inline-block;
	vertical-align: bottom;
	max-width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.num-pad-parent {
	gap: 1rem;
	display: flex;
	align-self: center;
	margin: auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 10%;
}
.num-pad-row button {
	height: 44px;
	width: 44px;
}
.num-pad-row {
	width: 40%;
	justify-content: space-between;
}
.num-pad-row:last-child {
	align-items: center;
	justify-content: center;
}

table {
	border-collapse: collapse;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

#menu-options {
	text-transform: unset !important;
}

.animate {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	padding: 20px;
	border-radius: 50%;
	height: 4rem;
	align-items: center;
	display: none;
	margin: 20% auto 0px auto;
	justify-content: center;
	width: 4rem;
	animation-name: animate-fade;
	animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
	animation-fill-mode: both;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Glow In */
.animate.glow {
	animation-name: animate-glow;
	animation-timing-function: ease-in-out;
	display: flex;
}
.countdown {
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none !important;
}

.leaderboard-table {
	width: fit-content;
	border: 1px solid var(--primary-color);
	overflow-y: scroll;
	max-height: 18rem;
	margin: auto;
}

@keyframes animate-glow {
	0% {
		opacity: 0;
		filter: brightness(3) saturate(3);
		scale: 0;
	}
	50% {
		opacity: 1;
		filter: brightness(1) saturate(1);
		scale: 1.4;
	}
	100% {
		opacity: 0;
		filter: brightness(1) saturate(1);
		scale: 0;
	}
}

@media only screen and (max-width: 474px) {
	body {
		/*  */
	}
}
